<h1 class="page-header">Devices status</h1>
<div class="table-responsive">
  <table class="table table-striped">    
    
    <thead>
      <tr>
        <th><input type="text" [(ngModel)]="sr_filter" placeholder="Search serial number"></th>
        <th><input type="text" [(ngModel)]="stck_filter" placeholder="Search stock status"></th>
        <th>#</th>
        <th>#</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Sr. #</th>
        <th>Stock Status</th>
        <th>Status</th>
        <th>Last Comm.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices  | searchfilter:stck_filter:'stock_status_value' | searchfilter:sr_filter:'serial_number'">
        <td>{{device.serial_number}}</td>
        <td>{{stock_status_strings[device.stock_status_value]}}</td>
        <td>
          <md-chip-list *ngIf="device.status == 'online'">
            <md-chip color="primary" selected="true">Online</md-chip>   
          </md-chip-list>
          <md-chip-list *ngIf="device.status == 'offline'">
            <md-chip color="primary">Offline</md-chip>   
          </md-chip-list>
        </td>
        <td>{{device.last_communication | date:'medium'}}</td>
      </tr> 
    </tbody>
  </table>
  <div>
    <md-paginator 
      (page)="paginationChange($event);"
      [length]="total_records"
      [pageSize]="record_limit"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
  </div>

</div>